.page {
  flex: 1 0 auto;
  flex-grow: 1;

  &_align_center {
    text-align: center;
  }

  &__container {
    max-width: 760px;
    margin: 25px auto 80px;

    &_clear::after {
      content: '';
      clear: both;
      display: table;
    }
  }

  &__container-more {
    margin-top: 50px;
  }

  &__container h2 {
    text-align: left;
    padding-left: 10px;
  }
}
